.hand {
    display: block;
    grid-template-columns: repeat(8, 1fr); /* 自動調整 */
    text-align: center;
}
#aiHand img, #hand img {
    width: calc(100vw/8 - 15px);
    top: 50%;
    left: 50%;
}
#hand {
    padding: 10% 0 0 0;
}
.buttonContainer {
    padding: 10%;
    height: calc(20% - 1px);
    text-align: center;
}
.buttonContainer button{
    width: 40%;
    padding: 10px 0; /* Padding instead of height */
    font-size: 1rem;
}
#startButton {
    width: 40%;
    padding: 10px 0; /* Padding instead of height */
    font-size: 1rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}